
bin/cmake_win/*
build/*


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
external/Eigen/doc/
external/Eigen/demos/
external/Eigen/failtest/
external/Eigen/test/
external/Eigen/bench/
external/Eigen/unsupported/test/
